@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--font-size: 20px;
	--color: rgb(42, 40, 30);
	--font-color: beige;
	--gutter: calc(var(--font-size)*1.618);
	--font: "Raleway";
}

@media screen and (min-width: 600px) {
	:root {
		--font-size: 32px;
	}
}

body {
	font-family: sans-serif;
	font-size: var(--font-size);
	padding-bottom: calc(var(--gutter)*3);
	padding-left: var(--gutter);
	padding-right: var(--gutter);
	padding-top: calc(var(--gutter)*3);
	background-color: var(--color);
	color: var(--font-color);
	font-family: var(--font);
}

h1 {
	font-size: calc(var(--font-size)*2);
	padding-bottom: calc(var(--gutter));
}

h2 {
	font-size: calc(var(--font-size));
	padding-bottom: calc(var(--gutter));
}

section {
	padding-bottom: calc(var(--gutter));
}

section:nth-child(even){
	text-align: right;
}

#filter-label{
	font-size: calc(var(--font-size)*0.6);
	text-align: center;
}

#filters {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	row-gap: calc(var(--gutter));
	margin-left: calc(var(--gutter)*3);
	margin-right: calc(var(--gutter)*3);
}

@media screen and (min-width: 850px) {
	#filters {
		display: flex;
		flex-direction: row;
	}
}

li {
	border-radius: 30%;
	border-style: solid;
	border-width: 2px;
	border-color: var(--font-color);
	padding-top: calc(var(--gutter)/5);
	padding-bottom: calc(var(--gutter)/5);
	font-size: calc(var(--font-size)*0.6);
}
@media screen and (min-width: 600px) {
	li {
		padding-left: calc(var(--gutter)/2);
		padding-right: calc(var(--gutter)/2);
	}
}

li:hover {
	background-color: var(--font-color);
	color: var(--color);
	transition: 0.5s;
	font-weight: bold;
}

p, figcaption {
	padding-bottom: calc(var(--gutter)/2);
	font-size: calc(var(--font-size)*0.6);
}

.date-added {
	font-size: calc(var(--font-size)/2);
}

a {
	font-weight: 600;
	color: darkgreen;
}

a:hover {
	text-transform: uppercase;
	color: var(--font-color);
	text-decoration: underline;
}

img {
	height: 50vh;
}

img, iframe {
	border-radius: 15%;
	overflow: hidden;
}

iframe {
	width: 560px; 
	height: 315px;
	z-index: 1;
}

footer {
	font-size: calc(var(--font-size)/4);
}

